.contain
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

